// Fonts
@font-face {
	font-family: 'Conv_Bazar';
	src: url('../fonts/Bazar.eot');
	src: local('☺'), url('../fonts/Bazar.woff') format('woff'), url('../fonts/Bazar.ttf') format('truetype'), url('../fonts/Bazar.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_renner-medium';
	src: url('fonts/renner-medium.eot');
	src: local('☺'), url('../fonts/renner-medium.woff') format('woff'), url('../fonts/renner-medium.ttf') format('truetype'), url('../fonts/renner-medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* Variable */
:root{
    --primary-color: #FFF2F1;
    --secondary-color: #7CD1DE;
    --size-paragraph: 1.3rem;
    --size-title: 4.5rem;
}

/* Generic class */
.d-flex{
    display: flex;
}

.jc-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.margin-none{
    margin: 0;
}

.w-100{
    width: 100%;
}

/* Detail ajust */
body{
    color: var(--primary-color);
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Conv_renner-medium';
}

h1, h2, h3{
    font-family: 'Conv_Bazar';
    text-transform: uppercase;
}

canvas{
    display: flex;
    position: absolute;
    z-index: -1;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}
// Header
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 0px;
}

header > p{
    font-size: var(--size-paragraph);
}

header > p > a{
    transition: .5s;
}

header > p:hover > a{
    color: var(--secondary-color);
}

.social-links{
    p:first-of-type{
        margin: 0 2rem 0 0;
    }
    p:nth-of-type(2){
        margin: 0 2.5rem 0 0;
    }
}

/* Burger */
.burger{
    width: 40px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.burger > span{
	width: 100%;
	height: 100%;
	position: absolute;
}


.burger > span::before, .burger > span::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--primary-color);
	transition: transform .5s ease-in-out;
}

.burger > span::after{
	transform: translateY(20px);
}

.burger.active > span::before{
    transform: translateY(10px) rotate(45deg);
}

.burger.active > span::after{
    transform: translateY(10px) rotate(-45deg);
}

/* NavLink */
nav{
    background: linear-gradient(45deg, rgba(45,163,180,1) 0%, rgba(66,53,103,1) 50%, rgba(0,0,0,1) 100%);
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: transform 1s ease-in-out;

}

nav.active{
    transform: translateX(-100%);
}

nav > ul{
    text-align: center;
}

nav > ul > li{
    font-family: 'Conv_Bazar';
    font-size: 5.5rem;
    line-height: 1.7;
}

nav > ul > li > a{
    position: relative;
}

nav > ul > li > a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 200vh;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    transition: transform .8s ease-in-out;
}

nav > ul > li > a:hover::after{
    transform: translateX(-200vh);
}

.short-media{
    display: none;
}

section{
    height: 100vh;
}
//  Content section
.content-section{
    margin-left: 5%;
    width: 100%;
    max-width: calc(50% - 6%);

    h1, h2{
        font-size: var(--size-title);
    }

    h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    span{
        display: block;
        margin: 1.5rem 0;
        width: 85px;
        height: 13px;
        background-color: var(--secondary-color);
        transform: rotate(-45deg);
        border-radius: 7px;
    }

    p{
        font-size: var(--size-paragraph);
        line-height: 2rem;
        margin-top: 0;
        &.citation{
            font-size: 1rem;
        }

        a:hover{
            color: var(--secondary-color);
            transition: .5s;
        }
    }
}

.maps-content{
    margin-right: 5%;
    max-width: calc(50% - 10%);
    height: 75vh;
    iframe{
        box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    }

}

.separate{
    margin: 20px 0;
}

.right{
    margin-right: 5%;
    margin-left: 0;
    align-items: end;
    
    span{
        transform: rotate(45deg);

    }
}

.form{
    width: 100%;
    margin: 0;

    input{
        box-sizing: border-box;
        opacity: .7;
        height: 2rem;
        border-radius: 5px;
        padding: 3px 10px;
        margin-bottom: 10px;
        border: none;
    }

    input::placeholder, textarea::placeholder{
        font-family: 'Conv_renner-medium';
        font-size: .8rem;
    }

    textarea{
        opacity: .7;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        box-sizing: border-box;
    }

    input[type="submit"]{
        height: 45px;
        background-color: var(--secondary-color);
        padding: 13px 25px;
        color: #28203f;
        transition: .5s;
        cursor: pointer;
        opacity: 1;
        font-family: "Conv_Bazar";
        text-transform: uppercase;
        font-size: var(--size-paragraph);
    }
    
    #hidden{
        display: none;
        font-size: 1rem;
        color: lawngreen;
    }

    input[type="submit"]:hover{
        background-color: rgba(128, 222, 217, 0.747);
    }

    
}

// Illustration section
.illustration-content{
    display: block;
    margin-right: 5%;
    width: 100%;
    max-width: calc(50% - 10%);
    position: relative;
    z-index: -1;
    height: 75vh;
    
    p{
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: auto;
        }
    }
}

.btn{
    margin-top: 40px;    
    a{
        background-color: var(--secondary-color);
        border-radius: 20px;
        padding: 13px 25px;
        transition: .5s;
        color: #28203f;
    }
}

.btn:hover{
    a{
        background-color: rgba(128, 222, 217, 0.747);
    }
}

// Animation first section
@function multiple-shadow ($n) {
    $value: 0 4px 0 4px #eee;
    $color: #eee;
    @for $i from 2 through $n {
       @if $i % 2 == 0 {
         $color: #eee;
       } @else {
         $color: #292929;
       }
      $value: '#{$value} , 0 #{$i * 4}px 0 #{$i * 8}px ' + $color;
    }
  
    @return unquote($value);
}
  
  
.rotate-c {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 999px;
    background-color: #eee;
    backface-visibility: hidden;
    perspective: 1000;
    animation: spin-bob 2.5s linear infinite;
    box-shadow: 0 0 100px 0 rgba(255,255,255,.4);
}
  
.rotate-o {
    position: absolute;
    top: 125px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 1em;
    background-color: #eee;
    margin-left: -5px;
    box-shadow: multiple-shadow(30);
}
  
@keyframes spin-bob {
    0% {
        transform: rotate(0deg) scale(.95) translate3d(0, 10px, 0);
    }
    50% {
        transform: rotate(180deg) scale(1.05) translate3d(0, -10px, 0);
    }
    100% {
        transform: rotate(360deg) scale(.95) translate3d(0, 10px, 0);
    }
}

//SLIDER LOGOS
$animationSpeed: 10s;

// Animation
@keyframes scroll {
	0% { transform: translateX(168px * 6); }
	100% { transform: translateX(calc(-168px * 9))}
}


// Styling
.slider {
	height: min-content;
	margin: 50px auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 6vw;
		max-width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.wrap {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		align-items: center;
		width: min-content;
	}
	
	.wrap-content {
		width: min-content;
        max-height: min-content;
        margin: 0 20px;
	}
}

@media(max-width: 1199.98px){
    :root{
        --size-title: 4rem;
    }
    .content-section{
        margin-left: 5%;
        max-width: calc(50% - 10%);

        p{
            line-height: 1.5rem;
        }
    }

    .right{
        margin-right: 5%;
    }

    #icon > img{
        height: 150px;
        width: auto;
    }

}

@media(max-width: 991.98px){
    .slider, #icon{
    display: none;
    }
}

@media(max-width: 777.98px){
    .media-min{
        .content-section{
            h2{
                font-size: 4rem;
            }
        }
    }
}

@media(max-width: 767.98px){
    .content-section{
        max-width: 100%;
        margin: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        text-align: center;      
    }

    .illustration-content{
        display: none;
    }

    .btn.cv{
        margin-top: 15px;
    }

    .media-min{
        flex-wrap: wrap;
        .content-section{
            margin: 20px;
            h2{
                font-size: 2rem;
                margin-bottom: 20px;
            }
            .separate{
                display: none;
            }
        }
        .short-media{
            display: flex;
            p:first-of-type{
                margin: 10px;
            }
            
            p:nth-of-type(2){
                margin: 10px;
            }
    
        }
    }

    .maps-content{
        display: none;
    }


}

@media(max-width: 575.98px){
    :root{
        --size-title: 3rem;
        --size-paragraph: .9rem;
    }

    .large-media{
        display: none;
    }

    .short-media{
        display: flex;

        p:first-of-type{
            margin: 10px;
        }
        
        p:nth-of-type(2){
            margin: 10px;
        }
    }

    .content-section p{
        line-height: 1.5rem;
    }

    h3{
        margin-top: 0;
    }

}